<nav class="fixed w-full z-50 transition-all duration-300 bg-white/90 dark:bg-black/80 backdrop-blur-md border-b border-gray-100 dark:border-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-20 items-center">
      <div class="flex-shrink-0 flex items-center">
        <a routerLink="/" class="text-2xl font-bold tracking-tight text-slate-900 dark:text-white"><img class="h-14" src="logo.png" alt=""></a>
      </div>
      <div class="hidden md:flex space-x-8 items-center">
        <a class="text-sm font-medium hover:text-primary transition-colors" routerLink="/products/exo-erp-suite" routerLinkActive="text-primary">Products</a>
        <a class="text-sm font-medium hover:text-primary transition-colors" routerLink="/solutions" routerLinkActive="text-primary">Solutions</a>
        <a class="text-sm font-medium hover:text-primary transition-colors" routerLink="/enterprise-software" routerLinkActive="text-primary">Enterprise Software</a>
        <a class="text-sm font-medium hover:text-primary transition-colors" routerLink="/partners" routerLinkActive="text-primary">Partners</a>
        <a class="text-sm font-medium hover:text-primary transition-colors" routerLink="/career" routerLinkActive="text-primary">Support</a>
        <a class="text-sm font-medium hover:text-primary transition-colors" routerLink="/about" routerLinkActive="text-primary">About Us</a>
        <a class="text-sm font-medium hover:text-primary transition-colors" routerLink="/contact" routerLinkActive="text-primary">Contact</a>
        <a class="text-sm font-medium hover:text-primary transition-colors" routerLink="/career" routerLinkActive="text-primary">Career</a>
        <!-- <a class="text-sm font-medium text-gray-400 hover:text-primary transition-colors border-l pl-8 border-gray-100" routerLink="/admin">Dashboard</a> -->
      </div>
      <div class="flex items-center gap-3">
        <button class="flex h-10 w-10 items-center justify-center rounded-full border border-border-light dark:border-border-dark text-slate-700 dark:text-slate-200 hover:bg-slate-50 dark:hover:bg-slate-800 transition-colors" type="button" aria-label="User profile">
          <span class="material-symbols-outlined text-[22px]">account_circle</span>
        </button>
        <button class="relative flex h-10 w-10 items-center justify-center rounded-full border border-border-light dark:border-border-dark text-slate-700 dark:text-slate-200 hover:bg-slate-50 dark:hover:bg-slate-800 transition-colors" type="button" aria-label="Cart">
          <span class="material-symbols-outlined text-[22px]">shopping_cart</span>
        </button>
      </div>
    </div>
  </div>
</nav>
