<app-home-hero-section />
<app-home-partners-section [logos]="logos" />
<app-home-solutions-section [solutions]="solutions" />
<app-home-parts-accessories-section [products]="featuredProducts" />
<app-home-peripherals-section [categories]="categories" />
<!-- <app-home-office-solutions-section [officeSolutions]="officeSolutions" /> -->
<!-- <app-home-consumables-section [consumables]="consumables" /> -->
<app-home-testimonial-section [testimonials]="testimonials" />
<app-home-experts-section />
<app-home-insights-section [insights]="insights" />
<app-home-bulk-procurement-section />
